<!--Express Portfolio-->
<!--morris Zuniga-->
<!--Student ID: 822704615-->



<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>ABOUT ME</title>
<link href="app.css" rel="stylesheet" type="text/css"> <!--references css-->
</head>

<body>

<table align="left" cellspacing="1" style="float: left">
	<tr>
		<td style="width: 383px">
		<img alt="LOGO" height="134" src="../Assets/images/LOGO1.png" style="float: left" width="300"></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 383px">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 383px">&nbsp;</td>
		<td>
		<h1>About Morris Zuniga:</h1>
	
		</td>
	</tr>
	<tr>
		<td style="width: 383px">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="height: 23px; width: 383px"></td>
		<td style="height: 23px">2nd year Software Engineering Technology (A.I) 
		student, highly adaptive person who's mission statement is forward 
		thinking. Always looking to the future for further advancement within 
		the industry. Currently I have acquired the skills of C# programming, 
		Oracle mySQL development, C++, HTML, CSS, JavaScript, and C language. I 
		have also acquired agile software development practices through the 
		studies of software engineering methodologies, fundamentals and system 
		design.&nbsp;&nbsp; </td>
	</tr>
	<tr>
		<td style="height: 11.5px; width: 383px">&nbsp;</td>
		<td style="height: 11.5px">
		<img alt="aboutme" height="320" src="../Assets/images/me.jpeg" width="320"></td>
		
	</tr>
	<tr>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark">Resume</a>
    </tr>
</table>

</body>

</html>










<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
