<!--Express Portfolio-->
<!--morris Zuniga-->
<!--Student ID: 822704615-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--layout imported from bootstrap-->
<html>
<link rel="stylesheet" href="../content/projects.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" /> <!--references bootstrap css-->
<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Projects</h2>
                    <p>Projects I hope to develop, and provide potential services for customers of all types</p>
                </div>
            </div>
        </div>
        <div class="row">
<div class="container">
<ul class="row portfolio list-unstyled mb-0 boxed-portfolio">
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups="[&quot;skill1&quot;]">
                <div class="card mb-0">
                    <div class="project m-0">
                        <figure class="portfolio-item">
                            <a href="single-project6.html" class="hovereffect">
                                <img class="img-responsive" src="../Assets/images/GUI.jfif" alt="">
                                <div class="overlay">
                                </div><!-- / overlay -->
                            </a><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </div><!-- / project -->
                    <div class="card-body">
                        <a href="single-project6.html" class="card-title title-link fs-16 fw-bold">GUI development C#</a>
                        <p class="card-text mt-5 mb-0 fs-14"><b>In development:</b> Design, Coding</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / project -->

            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups="[&quot;skill1&quot;]">
                <div class="card mb-0">
                    <div class="project m-0">
                        <figure class="portfolio-item">
                            <a href="single-project6.html" class="hovereffect">
                                <img class="img-responsive" src="../Assets/images/javaprogramming.jfif" alt="">
                                <div class="overlay">
                                </div><!-- / overlay -->
                            </a><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </div><!-- / project -->
                    <div class="card-body">
                        <a href="single-project6.html" class="card-title title-link fs-16 fw-bold">JAVA Programming</a>
                        <p class="card-text mt-5 mb-0 fs-14"><b>In development:</b> Design, Coding</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / project -->

            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups="[&quot;skill1&quot;]">
                <div class="card mb-0">
                    <div class="project m-0">
                        <figure class="portfolio-item">
                            <a href="single-project6.html" class="hovereffect">
                                <img class="img-responsive" src="../Assets/images/oracle-sql-logo.jpg" alt="">
                                <div class="overlay">
                                </div><!-- / overlay -->
                            </a><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </div><!-- / project -->
                    <div class="card-body">
                        <a href="single-project6.html" class="card-title title-link fs-16 fw-bold">mySQL database</a>
                        <p class="card-text mt-5 mb-0 fs-14"><b>In development:</b> Design, Deployment</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / project -->
        </ul>
</div>
</html>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>